<head>
  <link rel="stylesheet" href="style.css" />
</head>

<body class="grad">
  <div class="head">
    <h1>PROBLEM RECOMENDER</h1>
  </div>
  <div class="mainBox">
    <div class="content">
      <form action="{{ url_for("predictor")}}" method="post" class="hi">
      <label for="user_handle">User Handle:</label>
      <br />
      <input
        style="height: 30px; width: 200px; border-radius: 10px"
        type="text"
        id="user_handle"
        name="user_handle"
        placeholder="user_handle"
        height="20px"
      />
      <br />
      <br />
      <br />
      <label for="user_handle"
        >ENTER 1 for likeable Problem and 2 for useful problem:</label
      >
      <br />
      <input
        style="height: 30px; width: 200px; border-radius: 10px"
        type="text"
        id="user_pref"
        name="user_pref"
        placeholder="user_pref"
      />
      <br />
      <br />
      <br />

      <button
        type="submit"
        style="height: 60px; width: 150px; border-radius: 10px"
      >
        Submit
      </button>
    </div>
  </div>
</body>
